body{
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  box-sizing: border-box;
}
header{
  background-image: url(photo/title_image.jpg);
  background-size: cover;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 0;
  display: block;
  max-width: 100%;
}
header img{
  max-width: 10%;
  margin: 0 auto;
  display: flex;
  text-align: center;
}
header h1{
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.6em;
  color: white;
  margin: 0 auto;
  padding-top: 0.5em;
}
header p{
  color: white;
  font-size: 1em;
  margin:0;
  font-weight: 200;
  margin-bottom: 3em;
}
.appoinment{
  padding: 0.4em;
  border: 1px solid white;
  font-size: 0.8em;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.appoinment:hover{
  color: black;
  background-color: white;
  border: 1px solid white;
}
nav ul{
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  padding-top: -0.2em;
  padding-bottom: -0.2em;
}
nav li{
  list-style: none;
  font-size: 0.8em;
  font-weight: 600;
}
nav a{
  text-decoration: none;
  color: black;
  border-right: 2px solid black;
  padding-right: 1.5em;
}
.contact{
  border: none;

}
nav a:hover{
  color: #BD9F76;
}
blockquote{
  margin:0 auto;
  text-align: center;
  display: block;
  border: 5px solid #D1B79B;
  margin-top: 1em;
  margin-bottom: 2em;
}
blockquote p{
  font-size: 2em;
  font-weight: bold;
  color: #D1B79B;
}
blockquote cite{
  display: block;
  font-size: 0.8em;
  padding-bottom: 1em;
}
.content img{
  max-width: 100%;
}
.text{
  margin-left: 1em;
}
h2{
  font-family: 'Droid Sans', sans-serif;
  font-size: 2em;
  width: 80%;
  margin-left: 1em;
  margin-bottom: 1.5em;
  margin-top: 2em;
  font-weight: 600;
  border-bottom: 3px solid #D1B79B;
  color: #D1B79B;
  padding-bottom: 0.5em;
}
.content p{
  font-size: 1.2em;
  margin-top: -1em;
  display: block;
  max-width: 90%;
  width: 80%;
  margin-bottom: 3em;
  margin-left: 1.8em;
}
.subtitle p{
  font-size: 1.2em;
  color: #BD9F76;
  margin-top:-2em;
  margin-bottom: 1.5em;
  margin-left: 1.8em;
  font-weight: bold;
}
.content a{
  text-decoration: none;
  color: #D1B79B;
  border: 2px solid #D1B79B;
  padding: 4px;
  font-size: 1.2em;
  margin-left: 1.8em;
}
.content a:hover{
  text-decoration: none;
  color: white;
  border: 2.5px solid #D1B79B;
  padding: 4px;
  font-size: 1.2em;
  background-color: #D1B79B;
}
.team{
  display: block;
  margin-top: 2em;
}
.content img{

  margin:0;
  display: block;
}
.menu{
  margin-left: 2em;
  margin-bottom: 2em;
}
.menu h3{
  font-size: 1.5em;
  background-color: #D1B79B;
  color: white;
}
.serviceName{
  font-size: 1.2em;
}
.servicePrice{
  padding-left: 0.6em;
  color: #D1B79B;
}
form{
  max-width: 100%;
  display: block;
  background-image: url(photo/form_img.jpg);
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
}
.form_title h2{
background-color: #D1B79B;
color: white;
padding:0.2em;
}

form label {
padding: 0;
font-weight: bold;
text-align: left;
display: block;
background-color: #D1B79B;
padding-left: 2.2em;
color: white;
}
form input,
form select,
form textarea {
width: 80%;
border: 1px solid #D1B79B;
font-size: 1em;
padding: 0.3em;
}
form textarea {
height: 100px;
}
form button {
padding: 0.5em;
border-radius: 0.5em;
background: #eee;
border: none;
font-weight: bold;
margin-left: 3.2em;
font-size: 0.7em;
}

form button:hover {
background: #D1B79B;
cursor: pointer;
}

footer{
  background-color: #756244;
  color: white;
  padding-top: 1em;
}
.footer_logo{
  width: 20%;
  align-items: center;
}
footer ul{
  list-style: none;
  display: block;
  margin-left: 3em;
  margin-right: 5em;
}
.contact_title{
  font-weight: 600;
  font-size: 1.3em;
}
footer li{
  font-weight: 200;
}
.social{
  width: 15%;
}
footer media{
  display: block;
  margin-left: 5em;
  margin-top: -1em;
}



@media screen and (min-width:600px){
    header{
      padding-top: 15em;
      padding-bottom: 16em;
      margin-bottom: 2em;
    }
    header img{
      max-width: 10%;
    }
    header h1{
      font-size: 2.4em;
    }
    header p{
      font-size: 1.5em;
      margin-bottom: 6em;
    }
    .appoinment{
      padding: 0.7em;
      font-size: 1em;
      border: 2px solid white;
    }
    nav ul{
      margin-left: 3em;
    }
    nav a{
      font-size: 1.7em;
      padding-right: 3em;
      border-right: 3px solid black;
    }
    blockquote p{
      font-size: 3em;
    }
    blockquote cite{
      font-size: 1em;
    }
    .index{
      display: flex;
      flex-wrap: wrap;
    }
    .intro{
      display: flex;
      margin-bottom: 1em;
    }
    .first_text{
      max-width: 50%;
      margin: 0;
      padding-left: -3em;
      display: block;
    }
    .second_text{
      width: 80%;
      margin-top: -5.5em;
    }
    .about h2{
      color: white;
    }
    .subtitle p{
      font-size: 1.2em;
    }
    .content h2{
      font-size: 2.5em;
      flex-wrap: wrap;
      display: flex;
    }
    .content p{
      font-size: 1.2em;
      flex-wrap: wrap;
      margin-left: 2.4em;
      display: flex;
    }
    .content a{
      font-size: 1.4em;
      margin-bottom: 4em;
      border: 3px solid #D1B79B;

    }
    .content a:hover{
      font-size: 1.4em;
      border: 3px solid #D1B79B;
    }
    .home_img {
      width: 50%;
    }
    .menu_title h2{
      margin-left: 1.5em;
    }
    .menu{
      margin-left: 4em;
    }
    .menu h3{
      font-size: 2em;
    }
    .serviceName{
      font-size: 1.6em;
    }
    .servicePrice{
      font-size: 1.3em;
      padding-left: 0.8em;
    }
    form{
      padding-left: 8em;
    }

    .footer_logo{
      width: 20%;
    }
    footer{
      display: flex;
      padding-top: 1em;
      justify-content: space-between;
    }
    footer ul{
      margin-left: 0em;
      margin-right: 2em;
    }
    footer li{
      font-size: 1em;
    }
    .contact_title{
      font-size: 1.5em;
    }
    .social{
      width: 20%;
    }
    footer media{
      margin-left: 2.5em;
    }



}
@media screen and (min-width:1000px){
      header{
        padding-top: 10em;
        padding-bottom: 16em;
        margin-bottom: 2em;
      }
      header img{
        max-width: 10%;
      }
      header h1{
        font-size: 2.4em;
      }
      header p{
        font-size: 1.5em;
      }
      .appoinment{
        padding: 0.7em;
        font-size: 1.2em;
        border: 3px solid white;
      }
      nav ul{
        margin-left: 5em;
        margin-right: 1em;
      }
      nav a{
        font-size: 2em;
        padding-right: 5.5em;
        border-right: 3px solid black;
      }
      blockquote{
        border: 10px solid #D1B79B;
      }
      blockquote p{
        font-size: 4em;
        padding: 1em;
      }
      blockquote cite{
        font-size: 1.6em;
      }
      .content h2{
        font-size: 3em;
      }
      .content p{
        font-size: 1.6em;
      }
      .subtitle p{
        font-size: 1.6em;
      }
      .second_text{
        margin-top: -7em;
        margin-left: 8em;
      }
      .content a{
        font-size: 1.6em;
        border: 4px solid #D1B79B;
        padding-left: 0.7em;
        padding-right: 0.7em;
        margin-left: 7.5em;
      }
      .content a:hover{
        font-size: 1.6em;
        color: white;
        border: 4px solid #D1B79B;
        padding-left: 0.7em;
        padding-right: 0.7em;
      }
      .menu_title h2{
        margin-left: 3.5em;
      }
      .menu{
        margin-left: 10em;
      }
      .menu h3{
        font-size: 2.4em;
      }
      .serviceName{
        font-size: 1.9em;
      }
      .servicePrice{
        font-size: 1.6em;
        padding-left: 1em;
      }
      form{
        padding-left: 30em;
      }
      button{
        font-size: 0.8em;
      }


      footer li{
        font-size: 1.2em;
      }
      .contact_title{
        font-size: 1.6em;
      }



    }




    /* If you're using images in your slider, add this CSS to ensure they take up 100% of the available area */

.carousel-cell {
    width: 100%;
}

.carousel-cell img {
    width: 100%;
    height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}







h4{
    margin-top: 50px;
    font-size: 2em

}

figcaption{
  margin-top: .5px;
  font-size: 1.5em;
}

div.stylist-info.wrap{
  position: absolute;
  top:0;
  margin-top: 50px;
  font-size:.8em;
  padding:70px;

}
